body {
  background: linear-gradient(to right, #082567, #fa8072);
  font-family: "Quicksand", sans-serif;
}

.everything {
  background-color: #e7d7e0;
  max-width: 600px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 2px 2px 20px #e7d7e0;
}

#enter-City {
  background-color: white;
  padding: 10px;
  color: #fa8072;
  font-size: medium;
  border-radius: 5px;
  width: 80%;
  border: none;
}

#search-Button {
  background-color: #fa8072;
  font-size: medium;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px whitesmoke;
  color: whitesmoke;
  margin-left: 5px;
}

footer {
  text-align: center;
  font-size: small;
}

a {
  color: #fa8072;
}

button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border: none;
  background-image: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eXxlbnwwfHwwfHx8MA%3D%3D");
  font-size: large;
  color: #082567;
  box-shadow: 1px 1px 5px white;
  border-radius: 6px;
}

#weather-Temp {
  font-size: 70px;
  color: #fa8072;
  font-weight: bold;
  text-shadow: 1px 1px 5px #082567;
}

#weather-Icon {
  size: 40px;
  margin-left: -2px;
}

.weather_temp {
  font-size: 65px;
  color: #fa8072;
  font-weight: bold;
  text-shadow: 1px 1px 5px #082567;
}

#current-weather {
  font-size: 20px;
  text-shadow: 1px 1px 5px #082567;
  color: black;
}

.measure {
  color: #fa8072;
}

.weather-forecastDay {
  text-align: center;
  color: #fa8072;
  font-size: 20px;
  margin-bottom: 10px;
}

.weather-forecastIcon {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
}

.weather-forecastTemp {
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.weather-forecast {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  gap: 10px;
}

.weather-forecastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-icon {
  margin-right: 20px;
}

.forecast-items {
  display: flex;
  gap: 15px;
}

.forecast-container {
  display: flex;
  align-items: center;
}
